/3.Beginning Database Design.pdf
/CANTEEN.xlsx
/database design.pdf
/DDL Lecture.pptx
/Design_ERD.mp4
/Documentation for university restaurant ER diagram.docx
/draft 2.docx
/draft 3.docx
/draft.docx
/gropuwork.sql
/GROUP_E
/GUILD ICE
/GUILD ICE CANTEEN.xlsx
/Information needs.mp4
/MIREMBE PEACE MERCY.pdf
/mySQL
/NORMALIZATION ACTIVITY.docx
/NORMALIZATION ACTIVITY.pdf
/ORDER DETAILS.xlsx
/Security.mp4
/Sem Project.mwb
/Sem Project.mwb.bak